body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:135px;
  width:375px;
  height:667px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:135px;
  width:375px;
  height:667px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:135px;
  width:375px;
  height:667px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217 {
  position:fixed;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  overflow:hidden;
}
#u1217_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1217_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#000000;
  text-align:left;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:6px;
  width:1900px;
  word-wrap:break-word;
}
#u1220 {
  position:fixed;
  right:0px;
  top:0px;
  width:377px;
  height:42px;
  overflow:hidden;
}
#u1220_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:42px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1220_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:right;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:378px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:right;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#BCBCBC;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:13px;
  width:145px;
  height:16px;
  font-size:13px;
  color:#BCBCBC;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:100px;
  width:210px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:865px;
  width:377px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:830px;
  width:121px;
  height:28px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:100px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1029px;
  width:375px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:991px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:991px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:769px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:100px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:125px;
  width:27px;
  height:10px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:865px;
  width:377px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:830px;
  width:121px;
  height:28px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:868px;
  width:375px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:830px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:830px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:585px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1021px;
  width:375px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:983px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:983px;
  width:141px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:135px;
  width:375px;
  height:667px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1793px;
  top:135px;
  width:375px;
  height:667px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:100px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:1793px;
  top:100px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:865px;
  width:377px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:830px;
  width:121px;
  height:28px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:868px;
  width:375px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:830px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:830px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:585px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:1021px;
  width:375px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:20px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:1791px;
  top:983px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:1818px;
  top:983px;
  width:141px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:752px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:775px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF3399;
  text-align:left;
}
#u1256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u1256_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1256_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
